.login-container {
  width: 100%;
  min-height: 100vh;
  background: url(~@/assets/img/login/login-bg.f7fb5b05.png) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 75px 18px 0;
}
.form-box{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 22px 18px;
  border-radius: 5px;
  background-color: #fff;
}
.title-box{
  position: relative;
  .title{
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 22px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }
  .logo-bg{
    position: absolute;
    top: -10px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-image: url(~@/assets/img/login/service.c7402236.png);
    background-position: 0% 0%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
.input-item{
  margin-top: 15px;
  .form-input{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0 18px;
    border-radius: 5px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
  }
  .uni-input-input{
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: inherit;
    width: 100%;
    background-color: #f2f2f2;
  }
  .form-checked{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .checkbox{
      margin-right:0px;
    }
    .title{
      font-size: 13px;
      color: #888;
    }
  }
  .right-box{
    .forget-password{
      font-size: 13px;
      cursor: pointer;
      color: #f88a1e;
    }
  }
}
.submit-operation{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 45px;
  .submit-btn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #ffc654;
    cursor: pointer;
  }
  .register-link{
    width: 100%;
    font-size: 13px;
    color: #666;
    text-align: center;
    word-break: keep-all;
    cursor: pointer;
  }
}